@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');





* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Barlow', sans-serif;
    
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(70, 192, 252);
    padding: 1rem 0.8rem;
 
}

#navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap:1rem;
}

.nav-links {
    text-decoration: none;
    color: white;
}
#btn-nav{
    border: white 1px solid;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    background-color: white;
}

#btn-nav a{
    color: black;
    text-decoration: none;
}

#main h1{
    background-color: rgb(70, 192, 252);
    padding: 3rem;
    height: 28.125rem;
    text-align: center;
    color: white;
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
}

.info-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-section img{
    width: 100%;
}

.info-section-img{
    flex: 1;
}

.info-section-text{
    flex: 1;
}

.info-section-text div{
    width: 60%;
    padding: 5.5rem;
}

.info-section-text h2{
    font-size: 2.5rem;
    font-weight: 800;
}

.info-section-text p{
    margin: 1rem 0;

}

.info-section-text a{
    color: black;
    text-decoration: none;
    font-size: 1.25rem;
    text-transform: uppercase;

}
.red-link{
    text-shadow: 10px 10px 10px red;
}
.orange-link{
    text-shadow: 10px 10px 10px #e2d81f;
}







/* #main{
    background-image: url(./images/desktop/image-header.jpg);
   
    padding: 10rem;
} */